# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Secrets
*.pem
*.key
*.env

# Dev tools / binaries
argocd.exe
kubectl
eksctl
aws/
awscliv2.zip

# VSCode
.vscode/