# Python
__pycache__/
*.pyc
venv/
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# OS
.DS_Store
Thumbs.db

# Secrets
*.pem
*.key
*.env

# binaries / tools
argocd.exe
kubectl
eksctl
aws
awscliv2.zip